@page "/restaurants"

<h3>Restaurants</h3>

<div class="row">
    @if (restaurants.Any())
    {
        @foreach (var restaurant in restaurants)
        {
            <div class="col-6 col-sm-12 col-md-6 col-lg-4 col-xl-4 mh-25 mb-4">
                <div class="card shadow-sm rounded">
                    <div class="card-body">
                        <h5 class="card-title"><b>@restaurant.Name</b></h5>
                        <p class="card-text">@restaurant.Location</p>
                    </div>
                    <div class="card-footer text-muted">
                        <span>Open: @restaurant.Rating</span>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No restaurants available</p>
    }
</div>